
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper > * {
  padding: 1em;
}

.tour-information {
  background: lightcoral;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
 

.contact {
  background: lightcoral;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px lightcoral;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: black;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: black;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}


@media only screen and (min-width: 400px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .tour-information {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .tour-information h3,
  .tour-information ul,
  .brand {
    text-align: left;
  }
}