/* Core Styles */

body {
    text-align: center;
  }
  
img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 1em 0;
  }
  
  p {
    margin: 0;
    padding: 1em 0;
  }  

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/photos/guide-explaining-to-tourists-the-coliseum-of-rome-picture-id485614909?k=6&m=485614909&s=612x612&w=0&h=mXuW3Q3kIgYlNXtvWhvblOa1uxDQypcmSHwRFUUA4to=");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }
  
  /* Section A */
  
  #section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
  }
  
  /* Section B */
  
  #section-b {
    padding: 2em 1em 1em;
  }
  
  #section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }
  
  .card-content {
    padding: 1.5em;
  }
  
  /* Section C */
  
  #section-c {
    background: #fff;
    color: #333;
    padding: 2em;
  }
  
  /* Section D / Boxes */
  
  #section-d .box {
    padding: 2em;
  }
  
  #section-d .box:first-child {
    background: #2690d4;
  }
  

  
  /* Media Queries */
  
  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
  
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      grid-column: 2/4;
    }
  
    .box,
    #main-footer div {
      grid-column: span 2;
    }
  
    #section-b ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-b li {
      width: 31%;
    }
  }
  