.container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:rgb(231, 53, 53);
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .taxi{
    background:#f9feff;
  }
  
  /* FORM STYLES */
  .taxi form{
    display: grid;
    grid-gap:20px;
  }
  
  .taxi form label{
    display:block;
  }
  
  .taxi form p{
    margin:0;
  }
  
  .taxi form .full{
    grid-column: 1 / 3;
  }
  
  .taxi form button, .taxi form input,.taxi form select, .taxi form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .taxi form button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
  }
  
  .taxi form button:hover,.taxi form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .taxi form {
      grid-template-columns: 1fr 1fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .price-information  h3, .price-information  ul, .brand{
      text-align: left;
    }
  }
  .h1{
      text-align:center ;
  }